<html xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="header" class="navbar navbar-toggleable-sm header-area navbar-fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button"
                data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            ☰
        </button>

        <a class="navbar-brand" href="/">JaneScott</a>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="/pricing">Pricing</a></li>
                <li class="nav-item active"><a class="nav-link" href="http://docs.mailblast.io">Docs</a></li>
                <li class="nav-item active"><a class="nav-link" href="/users/sign_in">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/sign_up">Signup</a></li>
            </ul>
        </div>
    </nav>
</html>